.title {
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailItem {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 1.5rem 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}