.text {
  &Variant {
    &h1 {
      font-size: var(--font-size-3xl);
      font-weight: 700;
    }
    &h2 {
      font-size: var(--font-size-2xl);
      font-weight: 700;
    }
    &h3 {
      font-size: var(--font-size-xl);
      font-weight: 700;
    }
    &h4 {
      font-size: var(--font-size-lg);
      font-weight: 700;
    }
    &h5 {
      font-size: var(--font-size-md);
      font-weight: 700;
    }
    &h6 {
      font-size: var(--font-size-sm);
      font-weight: 700;
    }
    &body {
      font-size: var(--font-size-md);
      font-weight: 400;
    }
    &caption {
      font-size: var(--font-size-xs);
      font-weight: 400;
    }
  }
}
