.text {
  &Variant {
    &h1 {
      font-size: var(--font-size-3xl);
      font-weight: var(--font-weight-bold);
    }
    &h2 {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-bold);
    }
    &h3 {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
    }
    &h4 {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-bold);
    }
    &h5 {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-bold);
    }
    &h6 {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
    }
    &body {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-normal);
    }
    &caption {
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-normal);
    }
  }

  &Color {
    &white {
      color: var(--color-white);
    }
    &black {
      color: var(--color-black);
    }
  }
}
