:root {
  --color-primary: #0070f3;
  --color-primary-dark: #005cb3;
  --color-primary-light: #007af4;
  --color-primary-200: #c4c4c448;
  --color-primary-300: #a3a3a348;
  --color-primary-400: #82828248;
  --color-primary-500: #63636348;
  --color-primary-600: #44444448;

  --color-white: #ffffff;
  --color-white-200: #c4c4c448;
  --color-black: #000000;
  --color-grey: #f0f0f0;
  --color-grey-200: #c4c4c448;
  --color-grey-dark: #525252;
  --color-grey-main: rgb(249, 248, 247);
  --color-grey-light: rgb(249, 248, 247);

  --color-text: rgb(95, 94, 91);

  --border-radius-small: 8px;
  --border-radius-medium: 12px;
  --border-radius-large: 16px;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}
