.button {
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 700;

  &Variant {
    &fill {
      background-color: var(--color-primary);
      color: var(--color-white);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: var(--color-primary-dark);
      }

      &.buttonColorblack {
        background-color: var(--color-black);
        backdrop-filter: blur(10px);
      }
    }

    &outline {
      background-color: transparent;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: var(--color-primary-200);
      }
    }

    &text {
      background-color: transparent;
      color: var(--color-primary);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }

    &ghost {
      background-color: transparent;
      color: var(--color-primary);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: var(--color-grey-200);
      }
    }
  }

  &Size {
    &sm {
      font-size: 0.875rem;
    }
    &md {
      font-size: 1rem;
    }
    &lg {
      font-size: 1.125rem;
    }
  }
}
