.statusIcon {
  aspect-ratio: 1/1;
  width: 1em;
  border-radius: 50%;
  position: absolute;
  left: -0.5em;
  top: 50%;
  outline: 4px solid var(--color-white);
  transform: translateY(-50%);

  &Variant {
    &to-do {
      background-color: #d6ffa4;
    }

    &in-progress {
      background-color: #a8d0ff;
    }

    &in-review {
      background-color: #efa94a;
    }

    &done {
      background-color: #3eb489;
    }
  }
}
