.card {
  display: flex;
  border: 1px solid var(--color-primary-300);
}

.card + .card {
  margin-top: 0.2em;
}
.main {
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.badgeContainer {
  min-width: 70px;
  padding-left: 15px;
}
