.main {
  margin-bottom: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  outline: 2px solid var(--color-primary);
  max-height: 2rem;
  margin-right: .5em;
}

.avatarContainer {
  display: flex;
  align-items: center;
}