.link {
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-bottom-color 0.2s ease;
  cursor: pointer;

  &Variant {
    &default {
      color: var(--color-text);
    }
  }
}
