.divider {
  border: none;
  background: var(--color-notion-border);
  
  &Orientation {
    &horizontal {
      width: 100%;
      height: 1px;
      margin: 16px 0;
    }
    
    &vertical {
      width: 1px;
      height: 24px;
      margin: 0 16px;
      display: inline-block;
    }
  }
}